<div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Dashboard</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item">Dashboard</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <% tasks.forEach((task)=> { %>
        <div class="col-12">
          <div class="card card-outline card-primary">
            <div class="card-header">
              <h3 class="card-title">
                <%- task.title %>
              </h3>
              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-12">
                  <div class="card border border-dark">
                    <div class="card-body">
                      <h5><%- task.description %></h5>
                    </div>
                  </div>
                </div>
								<% task.users.forEach(user => { %>
								
								<% }) %>
                <div class="col-12 form-group">
                  <label>Submission:</label>
                  <textarea name="submission" id="submission" rows="4" class="form-control"></textarea>
                </div>
                <div class="col-12">
                  <input type="submit" value="Submit" class="btn btn-success">
                </div>
              </div>
            </div>
          </div>
        </div>
        <% }); %>
      </div>
    </div>
  </section>
</div>